<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />
        <link type="text/css" rel="stylesheet" href="../../css/style.css" />
    </head>
    <body>
        <header class="header">
            <div class="container">
                <div class="header__inner">
                    <a class="logo" href="{{route('index')}}"> Talkio. </a>
                    <a class="user-profile" href="#">
                        <img
                            class="user-profile-img"
                            src="../../../public/images/userProfile.svg"
                            alt=""
                        />
                    </a>
                </div>
            </div>
        </header>
        <section class="cabinet">
            <div class="container">
                <div class="cabinet__top">
                    <div class="cabinet__user-left">
                        <img
                            class="cabinet__user-image"
                            src="../../../public/images/userProfileDownload.svg "
                            alt=""
                        />
                        <ul class="cabinet__user-list">
                            <!-- сам проставь айдишники -->
                            <li class="cabinet__user-item">
                                <h2 class="cabinet__user-title" id="">
                                    Zonbi43lik
                                </h2>
                            </li>
                            <li class="cabinet__user-item">
                                <h3 class="cabinet__user-subtitle" id="">
                                    zonbichuvak228
                                </h3>
                            </li>
                            <li class="cabinet__user-item">
                                <p class="cabinet__user-text" id="">
                                    Всем привет
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="cabinet__user-right">
                        <ul class="cabinet__user-info">
                            <li class="cabinet__user-data">
                                <p id="">0 записей.</p>
                            </li>
                            <li class="cabinet__user-data">
                                <p id="">0 подписчиков.</p>
                            </li>
                            <li class="cabinet__user-data">
                                <p id="">0 подписок.</p>
                            </li>
                        </ul>
                        <button class="cabinet__user-button button" id="">
                            Настройка профиля
                        </button>
                    </div>
                </div>
                <div class="user__post-inner">
                    <div class="user__post-top">
                        <button class="user__post-button button">
                            Создать
                        </button>
                        <p class="user__post-display">Показывать 3</p>
                    </div>
                    <div class="user__post-wrapper square">
                        <div class="user__post">
                            <div class="user__post-name">
                                <img
                                    class="cabinet__user-image"
                                    src="../../../public/images/userProfileDownload.svg "
                                    alt=""
                                />
                                <ul class="user__post-list">
                                    <li>
                                        <h2 class="user__post-title" id="">
                                            Название поста
                                        </h2>
                                    </li>
                                    <li>
                                        <p class="user__post-description">
                                            Далеко-далеко за словесными горами в
                                            стране гласных и согласных живут
                                            рыбные тексты. Переписали, пустился!
                                            Lorem рот правилами текста до наш
                                            сих, щеке страна всемогущая
                                            безорфографичный жаренные, первую
                                            власти? Прямо единственное маленькая
                                            не?
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="user__post-profit">
                                <div class="user__post-views">
                                    <p>Просмотры</p>
                                    <p id="">0</p>
                                </div>
                                <div class="user__post-likes">
                                    <p>Нравится</p>
                                    <p id="">0</p>
                                </div>
                                <div class="user__post-comments">
                                    <p>Коментарии</p>
                                    <p id="">0</p>
                                </div>
                            </div>
                            <div class="user__post-info">
                                <button class="edit-button button">
                                    <img
                                        src="../../../public/images/editUser.svg"
                                        alt=""
                                    />
                                </button>
                                <p class="user__post-date" id="">01.01.24</p>
                            </div>
                        </div>
                        <div class="user__post">
                            <div class="user__post-name">
                                <img
                                    class="cabinet__user-image"
                                    src="../../../public/images/userProfileDownload.svg "
                                    alt=""
                                />
                                <ul class="user__post-list">
                                    <li>
                                        <h2 class="user__post-title" id="">
                                            Название поста
                                        </h2>
                                    </li>
                                    <li>
                                        <p class="user__post-description">
                                            Далеко-далеко за словесными горами в
                                            стране гласных и согласных живут
                                            рыбные тексты. Переписали, пустился!
                                            Lorem рот правилами текста до наш
                                            сих, щеке страна всемогущая
                                            безорфографичный жаренные, первую
                                            власти? Прямо единственное маленькая
                                            не?
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="user__post-profit">
                                <div class="user__post-views">
                                    <p>Просмотры</p>
                                    <p id="">0</p>
                                </div>
                                <div class="user__post-likes">
                                    <p>Нравится</p>
                                    <p id="">0</p>
                                </div>
                                <div class="user__post-comments">
                                    <p>Коментарии</p>
                                    <p id="">0</p>
                                </div>
                            </div>
                            <div class="user__post-info">
                                <button class="edit-button button">
                                    <img
                                        src="../../../public/images/editUser.svg"
                                        alt=""
                                    />
                                </button>
                                <p class="user__post-date" id="">01.01.24</p>
                            </div>
                        </div>
                        <div class="user__post">
                            <div class="user__post-name">
                                <img
                                    class="cabinet__user-image"
                                    src="../../../public/images/userProfileDownload.svg "
                                    alt=""
                                />
                                <ul class="user__post-list">
                                    <li>
                                        <h2 class="user__post-title" id="">
                                            Название поста
                                        </h2>
                                    </li>
                                    <li>
                                        <p class="user__post-description">
                                            Далеко-далеко за словесными горами в
                                            стране гласных и согласных живут
                                            рыбные тексты. Переписали, пустился!
                                            Lorem рот правилами текста до наш
                                            сих, щеке страна всемогущая
                                            безорфографичный жаренные, первую
                                            власти? Прямо единственное маленькая
                                            не?
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="user__post-profit">
                                <div class="user__post-views">
                                    <p>Просмотры</p>
                                    <p id="">0</p>
                                </div>
                                <div class="user__post-likes">
                                    <p>Нравится</p>
                                    <p id="">0</p>
                                </div>
                                <div class="user__post-comments">
                                    <p>Коментарии</p>
                                    <p id="">0</p>
                                </div>
                            </div>
                            <div class="user__post-info">
                                <button class="edit-button button">
                                    <img
                                        src="../../../public/images/editUser.svg"
                                        alt=""
                                    />
                                </button>
                                <p class="user__post-date" id="">01.01.24</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <p class="bottom__text">2024 Talkio</p>
            </div>
        </section>
    </body>
</html>
