html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

a {
    text-decoration: none;
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
    pointer-events: none;
    user-select: none;
}

input,
button,
textarea,
select {
    font: inherit;
}

body {
    min-height: 100vh;
    font-family: "Jost";
}

.container {
    max-width: 1070px;
    padding: 0 10px;
    margin: 0 auto;
}

.title {
    font-weight: 700;
    font-size: 76px;
    line-height: 93px;
    max-width: 550px;
}

.wrapper {
    position: absolute;
    margin-top: 135px;
    border-radius: 33px;
    box-shadow: 3px 11px 12px #00000030;
    margin-bottom: 80px;
}

.button {
    padding: 12px 45px;
    font-size: 30px;
    background: #2e2e2e;
    border-radius: 18px;
    color: #fff;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input-box input{
    padding: 14px 0 8px 35px;
    width: 100%;
    border-radius: 44px;
    border: 1px solid;
    font-size: 27px;
    font-weight: 400;
    line-height: 41px;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 58px;
    font-weight: 500;
}

.logo {
    font-size: 48px;
    color: #2e2e2e;
}

.registration-link {
    padding: 5px 12px;
    border: 1px solid #3f3f3f;
    border-radius: 18px;
    font-size: 20px;
    color: #2e2e2e;
}

.top {
    position: relative;
    min-height: 100vh;
}

/* .top__wrapper {

} */

.top__heading {
    padding: 25px 45px 75px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* .top__heading-title {
  max-width: 550px;
} */

.top__heading-text {
    font-weight: 500;
    font-size: 27px;
    max-width: 680px;
    line-height: 41px;
}

.top__heading-bottom {
    padding: 12px 0;
}

.top__heading-button {
    font-weight: 500;
    line-height: 52.02px;
}

.ringForText,
.ringLeft,
.topImages {
    position: absolute;
}

.ringLeft {
    left: -69px;
    bottom: 0px;
    overflow: hidden;
    background: url(../images/ringLeft.svg);
    background-size: cover;
    background-repeat:no-repeat;
    width: 428px;
    height: 320px;
    background-position: center center;
}

.ringForText {
    right: 232px;
    top: 392px;
}

.topImages {
    right: 218px;
    top: 167px;
}

.top__text--rotate {
    position: absolute;
    font-weight: 500;
    right: 355px;
    top: 523px;
    transform: rotate(31deg);
    font-size: 3px;
    color: #fff;
    -webkit-text-stroke:1px #2E2E2E;

}

.bottom {
    height: 73px;
    background: #2e2e2e;
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: end;
}

.bottom__text {
    font-weight: 400;
    font-size: 24px;
    margin: 24px 108px 14px 0;
    color: #7B7B7B;
}

/* registration */

.registration__inner {
    padding: 25px 45px 75px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.registration-authorization__item + .registration-authorization__item{
    padding: 17px 0 2px;
}

.registration-authorization__button {
    border: none;
    color: #E8E8E8;
    padding: 12px 88px;
    cursor: pointer;
}

.registration-authorization__item-link {
    font-weight: 500;
    font-size: 27px;
    color: #2E2E2ECC;
    border-bottom: 2px solid #2E2E2ECC;
}

/* authorization */
.authorization__inner {
    padding: 25px 45px 75px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
