html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

textarea { 
  resize: none; 
}


body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  pointer-events: none;
  user-select: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  min-height: 100vh;
  font-family: "Jost";
}

.container {
  max-width: 1070px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 76px;
  line-height: 93px;
  max-width: 550px;
  color: #3F3F3F;
}

.wrapper {
  /* position: absolute; */
  /* margin-top: 135px; */
  border-radius: 33px;
  box-shadow: 3px 11px 12px #00000030;
  /* margin-bottom: 80px; */
}

.square {
  border: 1px solid #3F3F3F;
  border-radius: 33px;
  box-shadow: 3px 4px 8px #00000030;
}

.user__text {
  color: #3F3F3F;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}

.button {
  padding: 12px 45px;
  font-size: 30px;
  background: #2e2e2e;
  border-radius: 18px;
  color: #fff;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  transform: scale(1.02, 1.02);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input-box input{
  padding: 14px 0 8px 35px;
  width: 100%;
  border-radius: 44px;
  border: 1px solid;
  font-size: 27px;
  font-weight: 400;
  line-height: 41px;
}

.header {
  /* position: fixed; */
  width: 100%;
  z-index: 1;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0 58px;
  font-weight: 500;
}

.logo {
  font-size: 48px;
  color: #2e2e2e;
}

.registration-link {
  padding: 5px 12px;
  border: 1px solid #3f3f3f;
  border-radius: 18px;
  font-size: 20px;
  color: #2e2e2e;
}

.top {
  position: relative;
  min-height: 100vh;
}

/* .top__wrapper {

} */

.top__heading {
  padding: 25px 45px 75px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* .top__heading-title {
max-width: 550px;
} */

.top__heading-text {
  font-weight: 500;
  font-size: 27px;
  max-width: 680px;
  line-height: 41px;
}

.top__heading-bottom {
  padding: 12px 0;
}

.top__heading-button {
  font-weight: 500;
  line-height: 52.02px;
}

.ringForText,
.ringLeft,
.topImages {
  position: absolute;
}

.ringLeft {
  left: -69px;
  bottom: 0px;
  overflow: hidden;
  background: url(../images/ringLeft.svg);
  background-size: cover;
  background-repeat:no-repeat;
  width: 428px;
  height: 320px;
  background-position: center center;
}

.ringForText {
  right: 232px;
  top: 392px;
}

.topImages {
  right: 218px;
  top: 167px;
}

.top__text--rotate {
  position: absolute;
  font-weight: 500;
  right: 355px;
  top: 523px;
  transform: rotate(31deg);
  font-size: 3px;
  color: #fff;
  -webkit-text-stroke:1px #2E2E2E;

}

.bottom {
  height: 53px;
  background: #2e2e2e;
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: end;
}

.bottom__text {
  font-weight: 400;
  font-size: 20px;
  margin: 14px 108px 14px 0;
  color: #7B7B7B;
}

/* registration */

.registration__inner {
  padding: 25px 45px 75px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.registration-authorization__item + .registration-authorization__item{
  padding: 17px 0 2px;
}

.registration-authorization__button {
  border: none;
  color: #E8E8E8;
  padding: 12px 88px;
  cursor: pointer;
}

.registration-authorization__item-link {
  font-weight: 500;
  font-size: 27px;
  color: #2E2E2ECC;
  border-bottom: 2px solid #2E2E2ECC;
}

/* authorization */
.authorization__inner {
  padding: 25px 45px 75px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* user */

.user__inner {
  display: flex;
}

.user__button {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.user__button-link {
  padding: 8px 15px;
  font-size: 20px;
}

.user__profile {
  padding: 0 40px 24px 20px;
  width: calc(100% - 240px);
}

.user__photo {
  padding: 20px 16px 25px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.user__photo p {
  font-size: 20px;
  line-height: 29px;
  border-bottom: 1px solid #fff;
  transition: .3s;
}

.user__photo:hover p {
  border-bottom: 1px solid #3F3F3F;
}

.user__profile-title, .user__security-title {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 30px;
}

.user__data {
  display: flex;
  align-items: flex-start;
}

.user__form {
  width: 100%;
  width: calc(100% - 198px);
}

.user__items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

}

.user__item {
  max-width: 301px;
}

.user__item:last-child {
  width: 100%;
  height: 155px;
  max-width: none;
}

.user__item-input {
  padding: 11px 22px;
  width: 100%;
  height: 100%;
}

.user__security-title {
  margin: 15px 0;
}

.user__security {
  margin-right: 68px;
}

.user__item-button {
  font-size: 20px;
  padding: 8px 69px;
}

.user__exit {
  display: flex;
  justify-content: end;
  margin-top: 25px;
}

.user__exit-button {
  font-size: 20px;
  line-height: 35px;
  padding: 8px 25px;
}

/* cabinet */

.cabinet {
  color: #3F3F3F ;
}

.cabinet__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
  border-bottom: 1px solid black;
}

.cabinet__user-left {
  display: flex;
}

.cabinet__user-title {
  font-size: 40px;
  font-weight: 600;
}

.cabinet__user-subtitle {
  font-size: 24px;
}

.cabinet__user-text {
  font-size: 24px;
  font-weight: 400;
}

.cabinet__user-image{
  margin-right: 20px;
  border-radius: 20px;
}

.cabinet__user-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cabinet__user-info{
  display: flex;
  gap: 20px;
}

.cabinet__user-data {
  display: flex;
}

.cabinet__user-data p {
  line-height: 25px;
  font-weight: 500;
  font-size: 24px;
}

.cabinet__user-button {
  padding: 9px 128px;
  font-size: 24px;
}

.user__post-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  font-size: 24px;
  font-weight: 500;
}

.user__post-button {
  padding: 9px 76px;
}

.user__post-wrapper {
  min-height: 495px;
  padding: 25px 40px;
}

.user__post {
  display: flex;
  max-height: 123px;
  justify-content: space-between;
  margin-bottom: 25px;
}

.user__post-name {
  display: flex;
  /* flex-wrap: wrap; */
  /* overflow: hidden; */
  max-width: 345px;
}

.user__post-list {
  overflow: hidden;
  font-weight: 500;
}

.user__post-title {
  font-size: 26px;
  line-height: 46px;
}

.user__post-description {
  font-size: 21px;
  line-height: 35px;
}

.user__post-profit {
  display: flex;
  font-size: 20px;
  line-height: 46px;
  gap: 30px;
}

.user__post-views, .user__post-likes, .user__post-comments {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-button {
  border-radius: 6px;
  padding: 5px;
}

.user__post-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.user__post-date {
  font-weight: 500;
  font-size: 20px;
}